<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.travel.update">

    <application
        android:name="debug.ModuleApplication"
        android:allowBackup="true"
        android:icon="@drawable/lib_ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="debug.ModuleActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>