<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.travel.update">

    <application android:theme="@style/AppTheme">
        <receiver android:name=".DownloadReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"></action>
            </intent-filter>
        </receiver>
    </application>
</manifest>
